<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>ttat0001.png</key>
		<dict>
			<key>frame</key>
			<string>{{103, 66}, {24, 21}}</string>
			<key>offset</key>
			<string>{0, -0}</string>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {24, 21}}</string>
			<key>sourceSize</key>
			<string>{24, 21}</string>
		</dict>
		<key>ttat0002.png</key>
		<dict>
			<key>frame</key>
			<string>{{186, 1}, {40, 37}}</string>
			<key>offset</key>
			<string>{0, -0}</string>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {40, 37}}</string>
			<key>sourceSize</key>
			<string>{40, 37}</string>
		</dict>
		<key>ttat0003.png</key>
		<dict>
			<key>frame</key>
			<string>{{97, 1}, {46, 38}}</string>
			<key>offset</key>
			<string>{0, -0}</string>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {46, 38}}</string>
			<key>sourceSize</key>
			<string>{46, 38}</string>
		</dict>
		<key>ttat0004.png</key>
		<dict>
			<key>frame</key>
			<string>{{49, 1}, {47, 58}}</string>
			<key>offset</key>
			<string>{0, -0}</string>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {47, 58}}</string>
			<key>sourceSize</key>
			<string>{47, 58}</string>
		</dict>
		<key>ttat0005.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 1}, {47, 64}}</string>
			<key>offset</key>
			<string>{0, -0}</string>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {47, 64}}</string>
			<key>sourceSize</key>
			<string>{47, 64}</string>
		</dict>
		<key>ttat0006.png</key>
		<dict>
			<key>frame</key>
			<string>{{144, 1}, {41, 56}}</string>
			<key>offset</key>
			<string>{0, -0}</string>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {41, 56}}</string>
			<key>sourceSize</key>
			<string>{41, 56}</string>
		</dict>
		<key>ttat0007.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 66}, {37, 48}}</string>
			<key>offset</key>
			<string>{0, -0}</string>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {37, 48}}</string>
			<key>sourceSize</key>
			<string>{37, 48}</string>
		</dict>
		<key>ttat0008.png</key>
		<dict>
			<key>frame</key>
			<string>{{39, 66}, {32, 36}}</string>
			<key>offset</key>
			<string>{0, -0}</string>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {32, 36}}</string>
			<key>sourceSize</key>
			<string>{32, 36}</string>
		</dict>
		<key>ttat0009.png</key>
		<dict>
			<key>frame</key>
			<string>{{72, 66}, {30, 32}}</string>
			<key>offset</key>
			<string>{0, -0}</string>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {30, 32}}</string>
			<key>sourceSize</key>
			<string>{30, 32}</string>
		</dict>
		<key>ttat0010.png</key>
		<dict>
			<key>frame</key>
			<string>{{128, 66}, {6, 8}}</string>
			<key>offset</key>
			<string>{0, -0.5}</string>
			<key>sourceColorRect</key>
			<string>{{0, 3}, {6, 8}}</string>
			<key>sourceSize</key>
			<string>{6, 13}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>1</integer>
		<key>size</key>
		<string>{256, 128}</string>
	</dict>
</dict>
</plist>
