<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>mcf02at0001.png</key>
		<dict>
			<key>frame</key>
			<string>{{215, 98}, {41, 43}}</string>
			<key>offset</key>
			<string>{0, -0}</string>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {41, 43}}</string>
			<key>sourceSize</key>
			<string>{41, 43}</string>
		</dict>
		<key>mcf02at0002.png</key>
		<dict>
			<key>frame</key>
			<string>{{182, 52}, {43, 44}}</string>
			<key>offset</key>
			<string>{0, -0}</string>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {43, 44}}</string>
			<key>sourceSize</key>
			<string>{43, 44}</string>
		</dict>
		<key>mcf02at0003.png</key>
		<dict>
			<key>frame</key>
			<string>{{125, 144}, {39, 45}}</string>
			<key>offset</key>
			<string>{0, -0}</string>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {39, 45}}</string>
			<key>sourceSize</key>
			<string>{39, 45}</string>
		</dict>
		<key>mcf02at0004.png</key>
		<dict>
			<key>frame</key>
			<string>{{43, 144}, {40, 43}}</string>
			<key>offset</key>
			<string>{0, -0}</string>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {40, 43}}</string>
			<key>sourceSize</key>
			<string>{40, 43}</string>
		</dict>
		<key>mcf02at0005.png</key>
		<dict>
			<key>frame</key>
			<string>{{93, 52}, {44, 45}}</string>
			<key>offset</key>
			<string>{0, -0}</string>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {44, 45}}</string>
			<key>sourceSize</key>
			<string>{44, 45}</string>
		</dict>
		<key>mcf02at0006.png</key>
		<dict>
			<key>frame</key>
			<string>{{48, 52}, {44, 45}}</string>
			<key>offset</key>
			<string>{0, -0}</string>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {44, 45}}</string>
			<key>sourceSize</key>
			<string>{44, 45}</string>
		</dict>
		<key>mcf02at0007.png</key>
		<dict>
			<key>frame</key>
			<string>{{88, 98}, {42, 45}}</string>
			<key>offset</key>
			<string>{0, -0}</string>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {42, 45}}</string>
			<key>sourceSize</key>
			<string>{42, 45}</string>
		</dict>
		<key>mcf02at0008.png</key>
		<dict>
			<key>frame</key>
			<string>{{84, 144}, {40, 44}}</string>
			<key>offset</key>
			<string>{0, -0}</string>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {40, 44}}</string>
			<key>sourceSize</key>
			<string>{40, 44}</string>
		</dict>
		<key>mcf02dd0001.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 144}, {41, 43}}</string>
			<key>offset</key>
			<string>{0, -0}</string>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {41, 43}}</string>
			<key>sourceSize</key>
			<string>{41, 43}</string>
		</dict>
		<key>mcf02dd0002.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 1}, {52, 50}}</string>
			<key>offset</key>
			<string>{0, -0}</string>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {52, 50}}</string>
			<key>sourceSize</key>
			<string>{52, 50}</string>
		</dict>
		<key>mcf02dd0003.png</key>
		<dict>
			<key>frame</key>
			<string>{{106, 1}, {49, 47}}</string>
			<key>offset</key>
			<string>{0, -0}</string>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {49, 47}}</string>
			<key>sourceSize</key>
			<string>{49, 47}</string>
		</dict>
		<key>mcf02dd0004.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 52}, {46, 41}}</string>
			<key>offset</key>
			<string>{0, -0}</string>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {46, 41}}</string>
			<key>sourceSize</key>
			<string>{46, 41}</string>
		</dict>
		<key>mcf02dd0005.png</key>
		<dict>
			<key>frame</key>
			<string>{{45, 98}, {42, 36}}</string>
			<key>offset</key>
			<string>{0, -0}</string>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {42, 36}}</string>
			<key>sourceSize</key>
			<string>{42, 36}</string>
		</dict>
		<key>mcf02dd0006.png</key>
		<dict>
			<key>frame</key>
			<string>{{138, 52}, {43, 34}}</string>
			<key>offset</key>
			<string>{0, -0}</string>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {43, 34}}</string>
			<key>sourceSize</key>
			<string>{43, 34}</string>
		</dict>
		<key>mcf02dd0007.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 98}, {43, 33}}</string>
			<key>offset</key>
			<string>{0, -0}</string>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {43, 33}}</string>
			<key>sourceSize</key>
			<string>{43, 33}</string>
		</dict>
		<key>mcf02mv0001.png</key>
		<dict>
			<key>frame</key>
			<string>{{54, 1}, {51, 44}}</string>
			<key>offset</key>
			<string>{0, -0}</string>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {51, 44}}</string>
			<key>sourceSize</key>
			<string>{51, 44}</string>
		</dict>
		<key>mcf02mv0002.png</key>
		<dict>
			<key>frame</key>
			<string>{{204, 1}, {47, 44}}</string>
			<key>offset</key>
			<string>{0, -0}</string>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {47, 44}}</string>
			<key>sourceSize</key>
			<string>{47, 44}</string>
		</dict>
		<key>mcf02mv0003.png</key>
		<dict>
			<key>frame</key>
			<string>{{131, 98}, {41, 43}}</string>
			<key>offset</key>
			<string>{0, -0}</string>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {41, 43}}</string>
			<key>sourceSize</key>
			<string>{41, 43}</string>
		</dict>
		<key>mcf02mv0004.png</key>
		<dict>
			<key>frame</key>
			<string>{{165, 144}, {37, 44}}</string>
			<key>offset</key>
			<string>{0, -0}</string>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {37, 44}}</string>
			<key>sourceSize</key>
			<string>{37, 44}</string>
		</dict>
		<key>mcf02mv0005.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 190}, {32, 45}}</string>
			<key>offset</key>
			<string>{0, -0}</string>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {32, 45}}</string>
			<key>sourceSize</key>
			<string>{32, 45}</string>
		</dict>
		<key>mcf02mv0006.png</key>
		<dict>
			<key>frame</key>
			<string>{{203, 144}, {36, 44}}</string>
			<key>offset</key>
			<string>{0, -0}</string>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {36, 44}}</string>
			<key>sourceSize</key>
			<string>{36, 44}</string>
		</dict>
		<key>mcf02mv0007.png</key>
		<dict>
			<key>frame</key>
			<string>{{173, 98}, {41, 43}}</string>
			<key>offset</key>
			<string>{0, -0}</string>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {41, 43}}</string>
			<key>sourceSize</key>
			<string>{41, 43}</string>
		</dict>
		<key>mcf02mv0008.png</key>
		<dict>
			<key>frame</key>
			<string>{{156, 1}, {47, 43}}</string>
			<key>offset</key>
			<string>{0, -0}</string>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {47, 43}}</string>
			<key>sourceSize</key>
			<string>{47, 43}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>1</integer>
		<key>size</key>
		<string>{256, 256}</string>
	</dict>
</dict>
</plist>
