<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>firebu0001.png</key>
		<dict>
			<key>frame</key>
			<string>{{359, 158}, {52, 72}}</string>
			<key>offset</key>
			<string>{0, -0}</string>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {52, 72}}</string>
			<key>sourceSize</key>
			<string>{52, 72}</string>
		</dict>
		<key>firebu0002.png</key>
		<dict>
			<key>frame</key>
			<string>{{301, 158}, {57, 71}}</string>
			<key>offset</key>
			<string>{0, -0}</string>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {57, 71}}</string>
			<key>sourceSize</key>
			<string>{57, 71}</string>
		</dict>
		<key>firebu0003.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 233}, {52, 71}}</string>
			<key>offset</key>
			<string>{0, -0}</string>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {52, 71}}</string>
			<key>sourceSize</key>
			<string>{52, 71}</string>
		</dict>
		<key>firebu0004.png</key>
		<dict>
			<key>frame</key>
			<string>{{412, 158}, {52, 68}}</string>
			<key>offset</key>
			<string>{0, -0}</string>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {52, 68}}</string>
			<key>sourceSize</key>
			<string>{52, 68}</string>
		</dict>
		<key>firebu0005.png</key>
		<dict>
			<key>frame</key>
			<string>{{54, 233}, {49, 70}}</string>
			<key>offset</key>
			<string>{0, -0}</string>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {49, 70}}</string>
			<key>sourceSize</key>
			<string>{49, 70}</string>
		</dict>
		<key>fireeb0001.png</key>
		<dict>
			<key>frame</key>
			<string>{{364, 83}, {78, 74}}</string>
			<key>offset</key>
			<string>{0, -0}</string>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {78, 74}}</string>
			<key>sourceSize</key>
			<string>{78, 74}</string>
		</dict>
		<key>fireeb0002.png</key>
		<dict>
			<key>frame</key>
			<string>{{153, 158}, {74, 71}}</string>
			<key>offset</key>
			<string>{0, -0}</string>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {74, 71}}</string>
			<key>sourceSize</key>
			<string>{74, 71}</string>
		</dict>
		<key>fireeb0003.png</key>
		<dict>
			<key>frame</key>
			<string>{{228, 158}, {72, 74}}</string>
			<key>offset</key>
			<string>{0, -0}</string>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {72, 74}}</string>
			<key>sourceSize</key>
			<string>{72, 74}</string>
		</dict>
		<key>fireeb0004.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 158}, {75, 73}}</string>
			<key>offset</key>
			<string>{0, -0}</string>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {75, 73}}</string>
			<key>sourceSize</key>
			<string>{75, 73}</string>
		</dict>
		<key>fireeb0005.png</key>
		<dict>
			<key>frame</key>
			<string>{{77, 158}, {75, 73}}</string>
			<key>offset</key>
			<string>{0, -0}</string>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {75, 73}}</string>
			<key>sourceSize</key>
			<string>{75, 73}</string>
		</dict>
		<key>fireeb0006.png</key>
		<dict>
			<key>frame</key>
			<string>{{104, 233}, {46, 15}}</string>
			<key>offset</key>
			<string>{0, -0}</string>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {46, 15}}</string>
			<key>sourceSize</key>
			<string>{46, 15}</string>
		</dict>
		<key>fireef0001.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 42}, {120, 40}}</string>
			<key>offset</key>
			<string>{0, -0}</string>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {120, 40}}</string>
			<key>sourceSize</key>
			<string>{120, 40}</string>
		</dict>
		<key>fireef0002.png</key>
		<dict>
			<key>frame</key>
			<string>{{122, 42}, {120, 40}}</string>
			<key>offset</key>
			<string>{0, -0}</string>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {120, 40}}</string>
			<key>sourceSize</key>
			<string>{120, 40}</string>
		</dict>
		<key>fireef0003.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 83}, {120, 40}}</string>
			<key>offset</key>
			<string>{0, -0}</string>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {120, 40}}</string>
			<key>sourceSize</key>
			<string>{120, 40}</string>
		</dict>
		<key>fireef0004.png</key>
		<dict>
			<key>frame</key>
			<string>{{243, 1}, {120, 40}}</string>
			<key>offset</key>
			<string>{0, -0}</string>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {120, 40}}</string>
			<key>sourceSize</key>
			<string>{120, 40}</string>
		</dict>
		<key>fireef0005.png</key>
		<dict>
			<key>frame</key>
			<string>{{243, 83}, {120, 40}}</string>
			<key>offset</key>
			<string>{0, -0}</string>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {120, 40}}</string>
			<key>sourceSize</key>
			<string>{120, 40}</string>
		</dict>
		<key>fireef0006.png</key>
		<dict>
			<key>frame</key>
			<string>{{243, 42}, {120, 40}}</string>
			<key>offset</key>
			<string>{0, -0}</string>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {120, 40}}</string>
			<key>sourceSize</key>
			<string>{120, 40}</string>
		</dict>
		<key>fireef0007.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 1}, {120, 40}}</string>
			<key>offset</key>
			<string>{0, -0}</string>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {120, 40}}</string>
			<key>sourceSize</key>
			<string>{120, 40}</string>
		</dict>
		<key>fireef0008.png</key>
		<dict>
			<key>frame</key>
			<string>{{122, 1}, {120, 40}}</string>
			<key>offset</key>
			<string>{0, -0}</string>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {120, 40}}</string>
			<key>sourceSize</key>
			<string>{120, 40}</string>
		</dict>
		<key>fireef0009.png</key>
		<dict>
			<key>frame</key>
			<string>{{364, 42}, {120, 40}}</string>
			<key>offset</key>
			<string>{0, -0}</string>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {120, 40}}</string>
			<key>sourceSize</key>
			<string>{120, 40}</string>
		</dict>
		<key>fireef0010.png</key>
		<dict>
			<key>frame</key>
			<string>{{122, 83}, {120, 40}}</string>
			<key>offset</key>
			<string>{0, -0}</string>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {120, 40}}</string>
			<key>sourceSize</key>
			<string>{120, 40}</string>
		</dict>
		<key>fireef0011.png</key>
		<dict>
			<key>frame</key>
			<string>{{364, 1}, {120, 40}}</string>
			<key>offset</key>
			<string>{0, -0}</string>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {120, 40}}</string>
			<key>sourceSize</key>
			<string>{120, 40}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>1</integer>
		<key>size</key>
		<string>{512, 512}</string>
	</dict>
</dict>
</plist>
