<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>stonebu0001.png</key>
		<dict>
			<key>frame</key>
			<string>{{38, 76}, {17, 36}}</string>
			<key>offset</key>
			<string>{0, -0}</string>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {17, 36}}</string>
			<key>sourceSize</key>
			<string>{17, 36}</string>
		</dict>
		<key>stonebu0002.png</key>
		<dict>
			<key>frame</key>
			<string>{{106, 39}, {19, 36}}</string>
			<key>offset</key>
			<string>{0, -0}</string>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {19, 36}}</string>
			<key>sourceSize</key>
			<string>{19, 36}</string>
		</dict>
		<key>stonebu0003.png</key>
		<dict>
			<key>frame</key>
			<string>{{86, 39}, {19, 36}}</string>
			<key>offset</key>
			<string>{0, -0}</string>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {19, 36}}</string>
			<key>sourceSize</key>
			<string>{19, 36}</string>
		</dict>
		<key>stonebu0004.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 76}, {18, 36}}</string>
			<key>offset</key>
			<string>{0, -0}</string>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {18, 36}}</string>
			<key>sourceSize</key>
			<string>{18, 36}</string>
		</dict>
		<key>stonebu0005.png</key>
		<dict>
			<key>frame</key>
			<string>{{20, 76}, {17, 34}}</string>
			<key>offset</key>
			<string>{0, -0}</string>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {17, 34}}</string>
			<key>sourceSize</key>
			<string>{17, 34}</string>
		</dict>
		<key>stoneeb0001.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 1}, {39, 37}}</string>
			<key>offset</key>
			<string>{0, -0}</string>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {39, 37}}</string>
			<key>sourceSize</key>
			<string>{39, 37}</string>
		</dict>
		<key>stoneeb0002.png</key>
		<dict>
			<key>frame</key>
			<string>{{41, 1}, {35, 36}}</string>
			<key>offset</key>
			<string>{0, -0}</string>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {35, 36}}</string>
			<key>sourceSize</key>
			<string>{35, 36}</string>
		</dict>
		<key>stoneeb0003.png</key>
		<dict>
			<key>frame</key>
			<string>{{77, 1}, {35, 36}}</string>
			<key>offset</key>
			<string>{0, -0}</string>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {35, 36}}</string>
			<key>sourceSize</key>
			<string>{35, 36}</string>
		</dict>
		<key>stoneeb0004.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 39}, {30, 28}}</string>
			<key>offset</key>
			<string>{0, -0}</string>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {30, 28}}</string>
			<key>sourceSize</key>
			<string>{30, 28}</string>
		</dict>
		<key>stoneeb0005.png</key>
		<dict>
			<key>frame</key>
			<string>{{32, 39}, {29, 13}}</string>
			<key>offset</key>
			<string>{0, -0}</string>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {29, 13}}</string>
			<key>sourceSize</key>
			<string>{29, 13}</string>
		</dict>
		<key>stoneeb0006.png</key>
		<dict>
			<key>frame</key>
			<string>{{62, 39}, {23, 4}}</string>
			<key>offset</key>
			<string>{0, -0}</string>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {23, 4}}</string>
			<key>sourceSize</key>
			<string>{23, 4}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>1</integer>
		<key>size</key>
		<string>{128, 128}</string>
	</dict>
</dict>
</plist>
