<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>thunderbu0001.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 1}, {72, 164}}</string>
			<key>offset</key>
			<string>{0, -0}</string>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {72, 164}}</string>
			<key>sourceSize</key>
			<string>{72, 164}</string>
		</dict>
		<key>thunderbu0002.png</key>
		<dict>
			<key>frame</key>
			<string>{{74, 1}, {63, 164}}</string>
			<key>offset</key>
			<string>{0, -0}</string>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {63, 164}}</string>
			<key>sourceSize</key>
			<string>{63, 164}</string>
		</dict>
		<key>thunderbu0003.png</key>
		<dict>
			<key>frame</key>
			<string>{{195, 1}, {56, 164}}</string>
			<key>offset</key>
			<string>{0, -0}</string>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {56, 164}}</string>
			<key>sourceSize</key>
			<string>{56, 164}</string>
		</dict>
		<key>thunderbu0004.png</key>
		<dict>
			<key>frame</key>
			<string>{{252, 1}, {56, 164}}</string>
			<key>offset</key>
			<string>{0, -0}</string>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {56, 164}}</string>
			<key>sourceSize</key>
			<string>{56, 164}</string>
		</dict>
		<key>thunderbu0005.png</key>
		<dict>
			<key>frame</key>
			<string>{{138, 1}, {56, 164}}</string>
			<key>offset</key>
			<string>{0, -0}</string>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {56, 164}}</string>
			<key>sourceSize</key>
			<string>{56, 164}</string>
		</dict>
		<key>thunderbu0006.png</key>
		<dict>
			<key>frame</key>
			<string>{{309, 1}, {54, 164}}</string>
			<key>offset</key>
			<string>{0, -0}</string>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {54, 164}}</string>
			<key>sourceSize</key>
			<string>{54, 164}</string>
		</dict>
		<key>thunderbu0007.png</key>
		<dict>
			<key>frame</key>
			<string>{{415, 1}, {50, 164}}</string>
			<key>offset</key>
			<string>{0, -0}</string>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {50, 164}}</string>
			<key>sourceSize</key>
			<string>{50, 164}</string>
		</dict>
		<key>thunderbu0008.png</key>
		<dict>
			<key>frame</key>
			<string>{{364, 1}, {50, 164}}</string>
			<key>offset</key>
			<string>{0, -0}</string>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {50, 164}}</string>
			<key>sourceSize</key>
			<string>{50, 164}</string>
		</dict>
		<key>thunderbu0009.png</key>
		<dict>
			<key>frame</key>
			<string>{{466, 1}, {36, 164}}</string>
			<key>offset</key>
			<string>{0, -0}</string>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {36, 164}}</string>
			<key>sourceSize</key>
			<string>{36, 164}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>1</integer>
		<key>size</key>
		<string>{512, 256}</string>
	</dict>
</dict>
</plist>
